.is-scrollable,
.is-scrollable-x
  -webkit-overflow-scrolling: touch
  &::-webkit-scrollbar
    background: transparent
    border-radius: $radius
    height: 7px
    width: 7px
  &::-webkit-scrollbar-thumb
    background: rgba($white,0.1)
    border-radius: $radius
    &:hover
      background: $primary

.is-scrollable
  overflow: hidden
  &:hover
    overflow-y: auto

.is-scrollable-x
  overflow-x: auto
  &::-webkit-scrollbar
    background: $dark-alt