#appbar,
#appmenu
  bottom: 0
  left: 0
  overflow: hidden
  position: fixed
  top: 0
  z-index: 19
  .navscroll
    bottom: 0
    left: 0
    padding: 1.5rem 0 0.75rem
    position: absolute
    right: 0
    top: $navbar-height

#appbar
  width: $navbar-width
  .navbar
    .navbar-brand,
    .navbar-item
      width: 100%
      .icon
        margin: 0 auto
      &:hover
        .fa
          animation: spinAround 1s 1 ease-out
  .navscroll
    .navscroll-content
      width: $navbar-width
    .field
      display: block
      overflow: hidden
      position: relative
      img,
      .image
        border-radius: $radius
      span
        margin: 0 auto
      &.is-active
        &:before
          border: 10px solid $white
          border-color: transparent transparent transparent $white
          border-radius: $radius-small
          content: ""
          display: inline-block
          position: absolute
          top: 50%
          transform: translateY(-50%)
      &.sortable-drag
        border-radius: $radius
        &:before
          display: none
      &.sortable-ghost
        span
          &.image
            border: 1px dashed $white
            opacity: 0.4
            img,
            .icon
              display: none
    .fieldremove
      display: none
      .field
        opacity: 0
        position: absolute
        top: 0
        left: 0
        width: 100%
        z-index: 3
  +tiny
    display: none
    .navscroll
      overflow-y: auto
    &.is-active
      display: block

#appmenu
  left: $navbar-width
  width: $navmenu-width
  .navbar
    .navbar-item
      padding-left: 0.75rem
      padding-right: 0.75rem
      .avatar,
      img
        border-radius: $radius 
      &.has-dropdown
        padding: 0
    .navbar-double
      flex-wrap: wrap
      .navbar-top,
      .navbar-bottom
        display: flex
        flex-basis: 100%
        height: $navbar-height/2
      .navbar-top
        padding-top: 4px
      .navbar-bottom
        padding-bottom: 4px
  .navscroll
    .navscroll-content
      width: $navmenu-width
      padding-left: 0.75rem
      padding-right: 0.75rem
  .footer
    color: $grey
    font-size: $size-small
    text-align: center
    a
      color: inherit
      &:hover,
      &:visited:hover
        color: $white
  +mobile
    display: none
    .navscroll
      overflow-y: auto
    &.is-active
      display: block

#appcontent
  .navbar
    .navbar-search
      position: relative
      width: 100%
      .input
        min-width: 300px
        +touch
          min-width: inherit
    .navbar-start
      .navbar-item
        &:first-child
          font-size: $size-medium
          font-weight: $weight-bold
  .tabs
    padding-top: 1.5rem

#appcontent,
#app #profiler
  margin-left: $navmenu-width + $navbar-width
  overflow: hidden
  +mobile
    margin-left: $navbar-width
  +tiny
    margin-left: 0