@charset "utf-8"

// Import functionality we use
@import "variables.sass"

// @import "../utilities/_all"
// @import "../utilities/initial-variables.sass"
// @import "../utilities/functions.sass"
// @import "../utilities/derived-variables.sass"
@import "../utilities/animations.sass"
// @import "../overwrite/utilities_animations.sass"
@import "../utilities/mixins.sass"
@import "../overwrite/utilities_mixins.sass"
@import "../utilities/controls.sass"

@import "../base/_all"
@import "../overwrite/base_generic.sass"
@import "../overwrite/base_helpers.sass"

@import "../elements/_all"
@import "../overwrite/elements_button.sass"
@import "../overwrite/elements_container.sass"
@import "../overwrite/elements_content.sass"
@import "../overwrite/elements_form.sass"
@import "../overwrite/elements_icon.sass"
@import "../overwrite/elements_image.sass"
@import "../overwrite/elements_notification.sass"
// @import "../overwrite/elements_other.sass"
@import "../overwrite/elements_table.sass"
@import "../overwrite/elements_tag.sass"
@import "../overwrite/elements_title.sass"

// @import "../components/_all"
// @import "../components/breadcrumb.sass"
@import "../components/card.sass"
@import "../overwrite/components_card.sass"
@import "../components/dropdown.sass"
@import "../overwrite/components_dropdown.sass"
// @import "../components/level.sass"
@import "../components/media.sass"
@import "../overwrite/components_media.sass"
@import "../components/menu.sass"
@import "../overwrite/components_menu.sass"
// @import "../components/message.sass"
@import "../components/modal.sass"
@import "../overwrite/components_modal.sass"
@import "../components/navbar.sass"
@import "../overwrite/components_navbar.sass"
@import "../components/pagination.sass"
@import "../overwrite/components_pagination.sass"
// @import "../components/panel.sass"
@import "../components/tabs.sass"
@import "../overwrite/components_tabs.sass"

// @import "../grid/_all"
@import "../grid/columns.sass"
@import "../overwrite/grid_columns.sass"
@import "../overwrite/grid_columns_slick.sass"
// @import "../grid/tiles.sass"

// @import "../layout/_all"
// @import "../layout/footer.sass"
// @import "../layout/hero.sass"
// @import "../overwrite/layout_hero.sass"
// @import "../layout/section.sass"
@import "../overwrite/layout_section.sass"

@import "../extensions/_all"

#appbar,
#appmenu
  bottom: 0
  left: 0
  overflow: hidden
  position: fixed
  top: 0
  z-index: 19
  .navscroll
    bottom: 0
    left: 0
    padding: $gap 0 $gap / 2
    position: absolute
    right: 0
    top: $navbar-height
    +tiny
      padding-top: $gap / 2

#appbar
  width: $navbar-width
  .navbar
    .navbar-brand,
    .navbar-item
      width: 100%
      .icon
        margin: 0 auto
      &:hover
        .fa
          animation: spinAround 1s 1 ease-out
  .navscroll
    .navscroll-content
      width: $navbar-width
    .field
      display: block
      overflow: hidden
      position: relative
      img,
      .image
        border-radius: $radius
      span
        margin: 0 auto
      &.is-active
        &:before
          border: 10px solid $white
          border-color: transparent transparent transparent $white
          border-radius: $radius-small
          content: ""
          display: inline-block
          position: absolute
          top: 50%
          transform: translateY(-50%)
      &.sortable-drag
        border-radius: $radius
        &:before
          display: none
      &.sortable-ghost
        span
          &.image
            border: 1px dashed $dark
            img,
            .icon
              display: none
    .fieldremove
      display: none
      .field
        opacity: 0
        position: absolute
        top: 0
        left: 0
        width: 100%
        z-index: 3
  +tiny
    display: none
    .navscroll
      overflow-y: auto
    &.is-active
      display: block

#appmenu
  left: $navbar-width
  width: $navmenu-width
  .navbar
    .navbar-brand,
    .navbar-item
      width: 100%
      img
        margin: 0 auto
        max-width: $navmenu-width - $navbar-width
  .navscroll
    .navscroll-content
      width: $navmenu-width
      padding-left: $column-gap
      padding-right: $column-gap
  .footer
    border-top: 1px dotted $grey-darker
    color: $grey
    padding: $column-gap $column-gap 0
    a
      color: inherit
      &:hover,
      &:visited:hover
        color: $white
  +mobile
    display: none
    .navscroll
      overflow-y: auto
    &.is-active
      display: block

#appcontent
  .navbar
    .navbar-brand
      img
        max-width: 160px
    +tablet
      padding: 0 $gap
  .tabsmenu
    padding-top: $gap
  .columnsheader
    .column
      padding-bottom: 0
  .columnsidemenu
    max-width: 880px
    order: 2
    .fieldfooter
      margin-top: $column-gap
    .columninner 
      border-radius: $radius
      padding: $column-gap
      a:not(.button)
        &:hover
          color: inherit
      .body
        &:first-child
          padding: 0
      #sharemod
        margin-top: $column-gap
      +touch
        margin-bottom: (-$column-gap)
        #sharemod
          display: none
  .columngallery
    .columninner
      +touch
        .scrollbox
          overflow-x: auto
          overflow-y: hidden
          white-space: nowrap
          .normalbox
            display: inline-block
            margin: 0 0 0 $column-gap
            &:first-child
              margin-left: 0
          img
            height: 117px
            width: auto
          .is-16by9
            width: 208px

#appcontent,
#app #profiler
  margin-left: $navmenu-width + $navbar-width
  overflow: hidden
  +mobile
    margin-left: $navbar-width
  +tiny
    margin-left: 0

// Boxes
.normalbox,
.headerbox
  &:not(:last-child)
    margin-bottom: 1.5rem
.mediabox
  &:not(:last-child)
    margin-bottom: $column-gap

// Modals
.thickbox
  img
    cursor: zoom-in

// Comments
.commentbox
  .rowdull,
  .rowspamorham,
  .rowdeleted,
  .rowbury
    opacity: 0.7

// Forms
.formbox
  .previewimage
    width: 100%
    .image
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      cursor: pointer
  .previewmultiple
    .previewimage
      float: left
      margin: 0 $column-gap $column-gap 0
      .image
        background-size: contain
  .textareatinymce
    padding: 0
  .fieldindent
    margin-left: 2.25em

// Other
.body
  padding: $column-gap 0 0
  .content
    overflow: hidden

// Browse
.tablebrowse
  thead
    th
      vertical-align: bottom
      white-space: nowrap
  tbody
    td
      vertical-align: middle
      .clamptoggle
        cursor: pointer
      .clampavatar
        +clamp(2)
      .clamp
        +clamp(4)
      .imageholder
        width: 160px
      +touch
        .imageholder
          width: 120px
        .clamp
          +clamp(3)
      +mobile
        .imageholder
          width: 80px
        .clamp
          +clamp(2)

// Forums
.tableforum
  td
    vertical-align: middle
  tr
    &.post
      td
        vertical-align: top
        &.details
          min-width: 110px
          width: 1%
      .actions
        font-weight: $weight-bold
        margin-bottom: 0.5rem
      .username
        color: $text
        font-weight: $weight-bold
        margin-top: 0.5rem
        word-break: break-all
        .icon
          margin-right: 0.25rem
        &:hover
          color: $primary
  .postdeleted
    opacity: 0.5
  .subcategorydeleted
    opacity: 0.5
    .thread
      text-decoration: line-through

// Tokens
.tokenfield
  &.textarea
    padding: 1px 8px
  .token-input
    background: none
    border: 0
    border-color: transparent
    box-shadow: none
    height: 24px
    margin: 3px 0
    min-width: 60px
    outline: 0
    padding: 0
    width: 60px
  .tag
    margin: 3px 5px 2px 0

// Member Level
.levelinfo
  line-height: 32px
  margin-bottom: 5px
  .levelcircle
    float: right

.levelcircle
  border: 2px solid
  border-radius: 16px
  display: inline-block
  font-weight: $weight-bold
  font-size: 18px
  height: 32px
  line-height: 28px
  margin-left: 5px
  padding: 0 2px
  text-align: center
  min-width: 32px

.background
  &.is-primary
    .is-scrollable,
    .is-scrollable-x
      &::-webkit-scrollbar-thumb
        background: rgba($dark,0.5)
        &:hover
          background: $dark