.table
  width: 100%
  th
    word-break: normal
    word-wrap: normal
  td
    .titletable
      color: $text
      display: block
      font-weight: $weight-bold
      .icon
        margin-right: 0.25rem
    .tablesubtitle
      font-size: 0.875em
    &.has-text-right
      .field
        float: right
    +touch
      word-break: break-word
      word-wrap: break-word
  tr
    &.rowtitle
      td,
      th
        color: $text-strong
    &.is-clickable
      cursor: pointer
    &.is-selected
      .titletable:hover,
      .is-link
        color: currentColor
      &:hover
        .titletable
          color: currentColor !important
    &.is-selected,
    &:hover
      a.titletable
        color: $primary !important
        opacity: 1
  &.is-bordered
    thead
      tr
        &.is-selected
          background-color: $table-row-active-background-color
          th
            color: $table-row-active-color
  &:last-child
    margin-bottom: 0
  &:not(.is-bordered)
    tr
      td:first-child,
      th:first-child
        padding-left: 0.25em
      td:last-child,
      th:last-child
        padding-right: 0.25em