.button
  &.has-text-left
    justify-content: flex-start
  &.is-nolink
    text-decoration: none
  &.is-circle
    border-radius: 1024px
    &.is-padded
      padding-left: 23px
      padding-right: 20px